@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
$COAL: #111111;
$GOLD: #ffcf40;
$GREY: #808080;

body {
  font-family: 'Poppins', sans-serif;
  background-color: $COAL;
}
