@import '../../../style.scss';

.date {
  width: 25px;
  height: 25px;
  text-align: center;
  color: $GREY;
  cursor: pointer;
  padding: 5px;
  border: 2px solid $GREY;
}

.highlight {
  color: $GOLD !important;
  border: 2px solid $GOLD !important;
}
